html { background-color: #e9f1f2; }

body { min-width: 277px; }

// sell_lists
// buy_lists
// place_order
.product_avater {
	display: block;
	width: 23%;
	max-width: 300px;
	margin-right: 5%;
}

.product_name {
    font-size: 16px;
    font-weight: bold;
}
