@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "./setOnepx";
@import "./wrapBlock";
@import "./base";

body { min-width: 277px; }

.order_time { padding: .5rem 15px; }

.order_num,
.order_time {
    font-size: 10px;
    color: #737070;
}

/* order_products  */
.order_num { padding: 10px 15px;}
.order_num {
    padding-bottom: 0;
    border-bottom: none;
}

.info_right {
    text-align: right;
    .sum_price { color: #fe4848; }
}

.shop_action {
    padding: 6px 15px;
    font-size: 10px;

    // 第一个元素不能是 inline-block
    a {
        font-size: 12px;
        @include border-radius( 4px );
        vertical-align: middle;
    }

    .btn_code {
        border: 1px solid #b5b5b5;
        padding: .3rem 1.5rem;
    }

    .btn_in {
        padding: .3rem 1rem;
        margin-left: .5rem;
        background-color: #fe4848;
        border: 1px solid #fe4848;
        color: #fff;
    }
}

.shop_action.weui_cell:before { display: none;}

[class*= "state_"] { font-weight: bold; }
.state_done { color: #413e3e; }
.state_doing { color: #fe4c4c;}
