@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "./wrapBlock";
@import "./base";
// shop

.come_shop {
    font-size: 16px;
    border-bottom: 1px solid #e9f1f2;

    .shop_head {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }
}

// product
.info_right {
    text-align: right;

    span { display: block; }

    .current_price {
        font-size: 16px;
        color: #ff5454 ;
    }

    .before_price {
        text-decoration: line-through;
        font-size: 12px;
        color: #626262;
    }
    .count_block {
        vertical-align: middle;
    }
}

#min,
#add {
    vertical-align: middle;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    padding: 0 3px;
}

 // input type="text" ,与 input type="btn" 不是中线对奇。 将  type="text " 的 margin-top设定一定的值。

// input text 长度最好固定，要不长度可能太长，挤到别人
#num_box {
    vertical-align: middle;
    text-align: center;
    width: 45px;
    margin-top: 5px;
    border: 1px solid rgba( 0, 0, 0, 0.2 );
   @include border-radius( 4px );
}
// form

.weui_cells_title {
    padding-top: .77em;
    color:#000;
    font-size: 16px;
}

.weui_label {
    color: rgb(65,62,62);
    width: 5em;
}

.weui_input.right {
    color: #000;
    text-align: right;
}

.note_title {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.weui_textarea {
    background-color: rgba( 0, 0, 0, 0.05 );
    @include border-radius( 2px);
}

.sum_price {
    display: inline-block;
    -moz-box-sizing : border-box;
         box-sizing : border-box;
     vertical-align: middle;
    padding: 5px;
    font-size: 16px;
    color: rgb(254,72,72);
}

.weui_cell .weui_cell_ft.order_btn {
    color: #fff;
    font-size: 16px;
    padding: .6rem 4rem;
    background-color: rgb( 254, 72, 72);
    @include border-radius( 4px);
}


//  数量选择
.weui_cell.count_block {
     &:before { content: none;}
}

