@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "./setOnepx";

/*  content  */
$shop_name_width: 100%;
$shop_name_height: 100%;
$products_name_height: 2.5;
$_class_title_fs: 16px;
$product_image_height: auto;
$product_name_fs: 14px;
$product_item_height: 220px;

body {
    background-color: #eee;
    min-width: 270px;
}

#shop_home {
    margin: 0 auto;
    min-height: 35rem;
    text-align: center;
}

.shop_identi {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 10px;
    color: #fff;

    i:not(:first-child) {
        margin-left: .5rem;
    }
}
/* banner & name & shop-info */
.shop-banner {
    position: relative;
    max-width: 100vw;
    height: 35.6vh;
    font-size: 10px;
    line-height: 1.5;
}

.nav-action {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.1);
}

.action-item {
    @include inline-block;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;

    width: 50%;
    height: 2.4;
    line-height: 2.4;
    font-size: 12px;
    color: #e5e2e2;

    i {
        margin-right: .5rem;
    }

   &:first-child{
        position: relative;

        &:after{
            @include setRightLine( #e5e2e2 );
            top: 10%;
            height: 80%;
        }
    }
}


.shop_name {
    width: $shop_name_width;
    height: $shop_name_height;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;

    > .avater {
        width: 19.17%;
        // height: 19.17vw;
        margin: 1em 0 0 0;
        background: rgba( 250, 250, 250, 0.2);
        border: 1.1vw solid rgba( 250, 250, 250, 0.2);
        @include border-radius(999px);

        display: inline-block;
        vertical-align: middle;

        &:before {
            content:"";
            display: inline-block;
            padding-bottom: 100%;
            width: .1px;
            background-color: red;
            vertical-align: middle;
          }
    }

    >.name {
        font-size: 12px;
    }

    .address {
        font-size: 10px;
        height: 20px;
        line-height: 20px;

        span {
            @include inline-block;
            padding: 1px 4px;
            background-color: rgba( 250, 250, 250, 0.2);
            @include border-radius(12px);
        }
    }
}

.block-content {
    background-color: #e9f1f2;
}
/*
    --Products--
*/

/* products list */
.products {
     background-color: #fff;
     width: 96%;
     margin: 2vw auto;
     @include border-radius(4px);

     .class-title {
        padding: 1rem;
        font-size: 14px;
        text-align: left;
    }

    .more {
        font-size: 10px;
    }

    > .products-gallery {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 0;
    }
}


.item_row {
    font-size: 0px;
    margin-bottom: 1rem;
}

.products-item {
    @include inline-block;
    @include box-sizing( border-box );
    background-color: #fff;
    width: 23%;
    margin:  0 7.5% 0 0;
    font-size: 10px;
    color: #000;
    &:first-child { margin-left: 7.5%;}

        .products-image {
            width: 100%;
            height: 23vw;
            background-color: #fff;
        }
}

.products_tag{

    text-align: left;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    .product-name {
        overflow: hidden;
        color: #000;
        width: 70%;
        height: 1.5;
        font-size: 12px;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-order: 1;
           -moz-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .price {
        font-size: 10px;
        color: #F64040;
        -webkit-order: 2;
           -moz-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}
