@import "compass/css3/border-radius";
.wrap_block {
    width: 96%;
    margin: .77em auto;
    @include border-radius(4px);
    background-color: #fff;
    box-shadow:0px 2px 4px rgba(151, 162, 164, 0.3);
}

.block_col {
    /* 兼容 andior 微信 */
    display : -webkit-box;
    display : -moz-box;
    display : -o-box;
    display : -webkit-flex;
    display : -ms-flexbox;
    display : flex;
    -webkit-align-items: center;
    -webkit-box-align:center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    vertical-align: middle;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    background-color: #fff;

    &:first-child {
        border-radius: 4px 4px 0 0;
    }

    .col_item {
        display: block;
         /* 兼容 andior 微信 */
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        -webkit-flex : 1;
        -ms-flex: 1;
         flex: 1;
        overflow: hidden;
        vertical-align: middle;


    }
}
