<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<!-- <link href="style/master.css" rel="stylesheet" type="text/css" /> -->
<link href="../css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="top">
    <div class="inTop clearfix">
      <div class="top_left">
        <a href="" class="login">登录</a>
        <span>|</span>
        <a href="" class="register">注册</a>
      </div>
      <div class="top_right">
        <a href="">中文版</a>
        <span>|</span>
        <a href="">ENGLISH</a>
        <a href="" class="search">search icon</a>
      </div>
    </div>
  </div>
  <div class="header">
    <div class="logo"></div>
  </div>
  <nav class="nav">
    <div class="innav">
      <ul>
        <li><a class="active" href="#">校园历史</a></li>
        <li><a href="#">学校概况</a></li>
        <li><a href="#">机构设置</a></li>
        <li><a href="#">师资力量</a></li>
        <li><a href="#">招生就业</a></li>
        <li><a href="#">教学研究</a></li>
        <li><a href="#">团队建设</a></li>
        <li><a href="#">合作交流</a></li>
        <li><a href="#">校园生活</a></li>
        <li><a href="#">意见反馈</a></li>
      </ul>
    </div>
  </nav>

  <!-- ban部分 -->
  <div class="vsb-box">
    <div class="vsb-container a" containerID="1" columns="4">
      <div class="vsb-space ban1" columns="4">
      </div>
    </div>

    <div class="vsb-container a" containerID="1" columns="4">
      <div class="vsb-space ban2" columns="4">
      </div>
    </div>

    <div class="vsb-container a" containerID="1" columns="4">
      <div class="vsb-space ban3" columns="4">
      </div>
    </div>
  </div>

  <!-- main部分 -->
  <!-- oneMain部分 -->
  <div class="vsb-box">
    <div class="vsb-container b" containerID="2" columns="4">
      <div class="vsb-space oneMain" columns="4">
        <h1 class="oneTitle clearfix"><span>热点新闻</span><a href="#">更多>></a></h1>
        <ul class="oneList">
          <li>
            <a href="javascript::void(0)">
            <img src="../images2/b-one-1.png" alt="" />
            <p>我校射击武道馆于3月5日建成，现已正式投入 使用。</p>
            </a>
          </li>
          <li>
            <a href="javascript::void(0)">
            <img src="../images2/b-one-2.png" alt="" />
            <p>校园违规停放自行车，将于本月底还是进行清 理，望同学们可以将自行车停放在停车处。</p>
              </a>
          </li>
          <li>
            <a href="javascript::void(0)">
            <img src="../images2/b-one-3.png" alt="" />
            <p>我校音乐学院，迎新生师生音乐昨日晚会圆满 结束。 </p>
            </a>
          </li>
          <li>
            <a href="javascript::void(0)">
            <img src="../images2/b-one-4.png" alt="" />
            <p>我校与香港中文大学于今日在研究生、博士 生交换交流上达成共识，决定共同为教育...</p>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- oneMain部分完 -->

  <!-- twoMain部分 -->
  <!-- 这里   div class="b" -->
  <div class="b">
      <!-- twoMain Left -->
      <div class="vsb-box twoLeft">
        <div class="vsb-container c" containerID="2" columns="1">
          <div class="vsb-space twoLeftOne" columns="1">
            <h1 class="twoTitle">用户登录</h1>
            <ul>
              <li class="twoLeft1">
                <span> 用户名 : </span>
                <input type="text" />
              </li>
              <li class="twoLeft1">
                <span> 密码 : </span>
                <input type="text" />
              </li>
              <li class="twoLeft2">
                <a href="#">游客访问</a>
                <input class="signin" type="submit" value="注册"/>
                <input class="login" type="submit" value="登录"/>
              </li>
            </ul>
          </div>
        </div>
        <div class="vsb-container c" containerID="2" columns="1">
          <div class="vsb-space twoLeftTwo" columns="1">
            <h1 class="twoTitle">通知公告 <a href="#">更多>></a></h1>
            <ul class="twoList">
              <li><a href="javascript::void(0)">关于以“北京大学教育学院”名义开展产品推介活动的声明</a></li>
              <li><a href="javascript::void(0)">关于2014年诺贝尔化学奖获得者埃里克·白兹格演讲会的通知</a></li>
              <li><a href="javascript::void(0)">2016年3月24日校领导接待日安排通知</a></li>
              <li><a href="javascript::void(0)">关于诺贝尔化学奖演讲会的通知</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- twoMin Left完 -->
      <!-- twoMain Right -->
      <div class="vsb-box twoRight">
       <div class="vsb-container c" containerID="2" columns="3">
         <div class="vsb-space twoImg" columns="3">
          <h1 class="oneTitle">学校简介</h1>
          <img src="../images2/c-twoR-1.png" alt="" />
        </div>
       </div>
      </div>
      <!-- twoMain Right完 -->
  </div>
<!-- twoMain部分完 -->

<div class="vsb-box">
  <!-- threeMain部分 -->
    <div class="vsb-container b" containerID="2" columns="4">
      <div class="vsb-space threeLeft" columns="3">
        <h1 class="oneTitle">热点新闻
          <a href="javascript::void(0)">更多<font>>></font></a>
        </h1>
        <div class="threeLeftList clearfix">
          <div class="threeListImg">
            <img src="../images2/b-three-1.png" alt="" />
            <p>我校射击武道馆于3月5日建成，现已正式投入 使用。</p>
          </div>
          <ul>
            <li><a href="#">曹德旺先生获聘北京大学名誉校董并在“财智人物 北大讲堂”发表演讲。<span>2015.01.12</span></a></li>
            <li><a href="#">【教授茶座第44期】许智宏院士谈理想、追求与传承<span>2015.01.12</span></a></li>
            <li><a href="#">北京大学考古虚拟仿真实验教学中心获批为国家级虚拟仿真实验教学中心<span>2015.01.12</span></a></li>
            <li><a href="#">张静主讲才斋讲堂第112讲：科学理性——思维逻辑进展及其论争<span>2015.01.12</span></a></li>
            <li><a href="#">懂中国、懂世界、懂自己、懂社会”——北大通识教育核心课程教学经验...<span>2015.01.12</span></a></li>
            <li><a href="#">【春燕行动•2016】志愿者探访崔殿祥老师和医学部多位退休教授<span>2015.01.12</span></a></li>
            <li><a href="#">青年研究中心召开两会精神专题研讨会<span>2015.01.12</span></a></li>
          </ul>
        </div>
      </div>
      <div class="vsb-space threeRight" columns="1">
        <h1 class="twoTitle">
          通知公告
          <a href="">更多<font>>></font></a>
        </h1>
        <ul class="threeRightList">
          <li><a class="clearfix" href=""><span>04-15<br />2015</span>关于以“北京大学教育学院”名义开展 产品推介活动的声明</a></li>
          <li><a class="clearfix" href=""><span>04-15<br />2015</span>关于2014年诺贝尔化学奖获得者埃 里克·白兹格演讲会的通知</a></li>
          <li><a class="clearfix" href=""><span>04-15<br />2015</span>2016年3月24日校领导接待日 安排通知</a></li>
          <li><a class="clearfix" href=""><span>04-15<br />2015</span>关于诺贝尔化学奖获得者埃里克·白 兹格演讲会的通知</a></li>
        </ul>
      </div>
    </div>
    <!-- threeMain部分完 -->

    <!-- fourMain部分 -->
    <div class="vsb-container b" containerID="2" columns="4">
      <div class="vsb-space fourMain" columns="4">
        <h1 class="oneTitle"> 学校简介
          <a href="">更多>></a>
        </h1>
        <img class="fourLeftImg" src="../images2/b-four-1.png" alt="" />
        <div class="fourRight">
          <a href="#">
            <h2 class="fourTitle">北京大学（Peking University）</h2>
            <p>办于1898年，初名京师大学堂，以最高学府身份创立，最初也是国家最高教育行政机关，行使教育部职能。北大是中国近代第一所国立综合性大学，是中国著名的高等学府，亚洲和世界最重要的大学之一。北大开创了中国高校中最早的文科、理科、政科、商科、农科、医科等学科的大学教育，是近代以来中国高等教育的奠基者。在中国现代史上，北大是中国“新文化运动”与“五四运动”等运动的中心发祥地，也是多种政治思潮和社会理想在中国的最早传播地，有“中国政治晴雨表”之称，享有极高的声誉和重要的地位。学校现为国家“211工程”、“985工程”重点建设大学、中国顶尖学府“九校联盟”（C9联盟）的重要成员，培养了大批人才，深刻影响了中国近现代。2015年8月15日，2015年“世界大学学术排名”发布，理科排名中北京大学排在世界第43名。2016年2月，北京大学在2016国内高校保研率排名中排第二。2016年中国一流大学排行榜排第一。</p>
          </a>
        </div>
      </div>
    </div>
    <!-- fourMain部分完 -->

    <!-- fiveMain部分 -->
    <div class="vsb-container b" containerID="2" columns="4">
      <div class="vsb-space fiveLeft clearfix"  columns="2">
        <h1 class="twoTitle">教学科研<a>更多>></a></h1>
        <a href="#">
          <img class="fiveLeftImg" src="../images2/b-five-1.png" alt="" />
          <p>刘忠范-彭海琳课题组在旋转双层石墨烯光电器件研究中取得进展。<br/><br />
                近日，刘忠范-彭海琳课题组研究人员成功在铜箔衬底上制备了不同旋转角度的双层石墨烯，并与英国牛津大学陈宇林课题组合作，首次使用高空间分辨率的角分辨光电子能谱直接解析了铜箔衬底上旋转双层石墨烯的能带结构，确认范霍夫奇点的存在。
          </p>
        </a>
      </div>
      <div class="vsb-space fiveRight"  columns="2">
        <h1 class="twoTitle">就业信息<a href="">更多>></a></h1>
        <ul class="fiveRightList">
          <li><a href="#">曹德旺先生获聘北京大学名誉校董并在“财智人物 北大讲堂”发表演讲。<span>2015.01.12</span></a></li>
          <li><a href="#">【教授茶座第44期】许智宏院士谈理想、追求与传承<span>2015.01.12</span></a></li>
          <li><a href="#">北京大学考古虚拟仿真实验教学中心获批为国家级虚拟仿真实验教学中心 <span>2015.01.12</span></a></li>
          <li><a href="#">张静主讲才斋讲堂第112讲：科学理性——思维逻辑进展及其论争<span>2015.01.12</span></a></li>
          <li><a href="#">懂中国、懂世界、懂自己、懂社会”——北大通识教育核心课程教学经验...<span>2015.01.12</span></a></li>
          <li><a href="#">【春燕行动•2016】志愿者探访崔殿祥老师和医学部多位退休教授<span>2015.01.12</span></a></li>
          <li><a href="#">【春燕行动•2016】志愿者探访崔殿祥老师和医学部多位退休教授<span>2015.01.12</span></a></li>
        </ul>
      </div>
    </div>
    <!-- fiveMain部分完 -->
    <!-- 横幅部分 1  -->
    <div class="vsb-container b" containerid="2" columns="4">
      <div class="vsb-space HF1" columns="4">
        <img src="../images2/b-HF1.png" alt="" />
      </div>
    </div>
    <!-- 横幅部分 1 完 -->
    <!-- sixMain部分 -->
    <div class="vsb-container b" containerid="2" columns="4">
      <div class="vsb-space sixMain" columns="4">
        <h1 class="oneTitle">友情链接</h1>
        <div class="sixMainContent">
          <a href="#"><img src="../images2/beidaLog.png" alt="" /></a>
          <a href="#"><img src="../images2/beidaLog.png" alt="" /></a>
          <a href="#"><img src="../images2/beidaLog.png" alt="" /></a>
          <a href="#"><img src="../images2/beidaLog.png" alt="" /></a>
        </div>
      </div>
    </div>
    <!-- sixMain部分完 -->
  </div>

    <!-- main部分完 -->
    <!-- tail部分 -->
    <footer class="tail">
      <div class="innerTail">
        <div class="tailLeft">
        <p class="tailLink">
          <a href="javascript::void(0)">学校概况</a>
          <a href="javascript::void(0)">校园环境</a>
          <a href="javascript::void(0)">学校历史</a>
          <a href="javascript::void(0)">科学研究</a>
          <a href="javascript::void(0)">校园生活</a>
          <a href="javascript::void(0)">教育教学</a>
          <a href="javascript::void(0)">招生资助</a>
          <a href="javascript::void(0)">合作交流</a>
          <a href="javascript::void(0)">观光访问</a>
          <a href="javascript::void(0)">研究生院</a>
          <a href="javascript::void(0)">本科招生</a>
          <a href="javascript::void(0)">博士流动</a>
        </p>
        </div>
        <div class="tailCenter">
          <img src="../images2/beidaTail.jpg" alt="" />
        </div>
        <div class="tailRight">
          <h3 class="contactTitle">联系我们</h3>
          <p class="contact">
            地址 : 中国北京市朝阳市中华路14号<br/>
            电话 : 13888888888 <br />
            邮箱 : adadadsd@adasj.com <br />
            <a href="" class="contactLink"></a>
            <a href="" class="contactLink"></a>
            <a href="" class="contactLink"></a>
            <a href="" class="contactLink"></a>
          </p>
        </div>
      </div>
    </footer>
    <!-- tail部分完 -->
  </div>
</body>
</html>
