html { background-color: #e9f1f2; }

.wrap_block {
    width: 96%;
    margin: .77em auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow:0px 2px 4px rgba(151, 162, 164, 0.3);
}

.focus_time {
	padding: .5rem 15px .5rem 15px;
	border-bottom: 1px solid #eee;
	font-size: 10px;
	color: #737070;
}

.time { font-size: 12px; }

i.fa {
	margin-left: 8px;
	font-size: 12px;
	color: #000;
}

/* client_item  */
.client_item,
.client_shopping {
	display : -webkit-flex;
	display : -moz-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	vertical-align: middle;
	padding: 10px 15px 10px 15px;
	background-color: #fff;
  }

.client_item { border-bottom: 1px solid #eee; }

.focus_time,
.client_shopping { position: relative; }
.client_shopping { border-radius: 4px;}
/* dispaly: flex-box , andior 支持，但是flex-item 都必须为block */
.client_info,
.shopping_title {
	-webkit-flex : 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #413e3e;
	white-space: nowrap;
}

.client_info { font-size: 12px; }

.shopping_title {
	margin-right: 5px;
	font-size: 10px;
}

.client_name {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

img.client_avater {
	display: block;
	width: 20%;
	margin-left: 3px;
	border-radius: 999px;
}

.shopping_lists {
	overflow: hidden;
	text-align: right;
	width: 75%;
	font-size: 0;
}

img.shopping_item {
	width: 20%;
	margin-left: 8px;
}
